@import "vars";

// Style every Hx tags
@mixin hx {
	#{$hx-classes} {
		@content;
	}
}

@mixin reset-hx {
	@include hx {
		@include map2style($hx-reset-style);
	}
}

@mixin _anchor-prop($prop, $value) {
	@if $value {
		#{$prop}: $value;
	}
}
// Style every <a> states
@mixin anchor-states($color: false, $color-hover: false, $decoration: false, $decoration-hover: false) {
	&, &:link, &:active, &:visited, &:focus, &:hover {
		@include _anchor-prop('color', $color);
		@include _anchor-prop('text-decoration', $decoration);
		@content;
	}
	&:hover {
		@include _anchor-prop('color', $color-hover);
		@include _anchor-prop('text-decoration', $decoration-hover);
	}
}

@mixin list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Antialias text
@mixin font-smoothing($smoothing: antialiased) {
	-webkit-font-smoothing: $smoothing;
}

@mixin text-rendering($method: optimizeLegibility) {
	text-rendering: $method;
}

@mixin text-hack() {
	-webkit-text-stroke: 0.35px;
}
